/* Start variables*/
:root {
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --main-color: #62696c;
  --main-background-color: #ececec;
  --main-opacity: 0.7;
  --main-border-radius: 10px;
}
/* End variables*/
/* Start global rules*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
   
  }
  html {
      scroll-behavior: smooth;
      
  }
  body {
    font-family: 'Katibeh', corsivo;
    font-family: 'Poppins', sans-serif;
   
}
a {
  text-decoration: none;
}
ul{
 list-style: none;
 padding: 0;
 margin: 0;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-right:auto;
  margin-left: auto;
  }
  /*small*/
@media (min-width: 768px) {
 .container{
   width: 750px;
    }
  }
  /*medium*/
@media (min-width: 992px) {
  .container{
    width: 970px;
    }
  }
  /*large*/
@media (min-width: 1200px) {
  .container{
      width: 1170px;
    }
  }
  .main-title {
    margin-bottom: 30px;
    text-align:left;
    color: var(--main-color); 
    font-family: 'Katibeh', corsivo;
    font-weight: bold;
    font-size: 28px;
    margin-top: 50px;
    
    }

  /* End global rules*/
  /* start header*/
 
  .header{
    top: 0;
    width: 100%;
    max-width: 100%;
    z-index: 200;
    position: fixed;
    background: #fff;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
  }
   .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
   }
  .header .logo {
      color: var(--main-color);
      font-family: 'Katibeh', corsivo;
      font-style: bold;
      font-size: 50px;
      line-height: 72px;
      height: 72px;
      }
  .header .burger .toggle-menu {
    color:var(--main-color);
    font-size: 22px;
    }
  .header .burger .toggle-menu:hover {
    opacity: var(--main-opacity);
    }  
  @media (min-width: 992px) {
  .header .burger .toggle-menu {
    display: none;
  }
   }  
    .header .main-nav {
      display: flex;
     }
    .header .main-nav > li:hover .menu {
      opacity: 1;
      z-index: 100;
      top: calc(100% + 1px);
      transition: var(--main-transition);
     }
      input {
          display: none;
     }

  @media (max-width: 991px) {
    .header .main-nav  {
        display: none ;
    }
    #burger:checked + .main-nav   {
      display: flex;
      justify-content: right;
      flex-direction:column;
      position: absolute;
      top:100%;
      width: 100%;
      left: 0;
      background-color: #fff;
     }
     
   #burger:checked + .main-nav > li > a {
     font-size: 18px;
     opacity: 1;
     }
    #burger:checked + .main-nav > li > a:hover {
      opacity: var(--main-opacity);
     }
    } 
   .header .main-nav > li > a {
      color: var(--main-color);
      opacity: 1;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      display: flex;
      align-items: center;
      height: 72px;
      position: relative;
      padding: 0 20px;
      transition: var(--main-transition);
    }
    
   .header .main-nav > li > a:hover {
      opacity: var(--main-opacity);
    }
    
  .header .main-nav .submenu .menu {
     position: absolute;
     width: 30%;
     right: 20%;
     padding: 30px;
     border-bottom: 3px solid #62696c;
     background-color: #fff;
     z-index: -1;
     display: none;
     top: calc(100% + 50px);
     transition: top var(--main-transition), opacity var(--main-transition) ;
     opacity: 0;
     border-radius: var(--main-border-radius);
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .header .main-nav .submenu:hover > .menu {
    opacity: 1;
    z-index: 100;
    display:inherit;
    
    }


  @media (max-width: 991px) {
    .header .menu {
      padding: 10px;
      border: none;
      top: 50%;
      left: 25%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    .header .main-nav .submenu:hover > .menu {
      opacity: 1;
      z-index: 100;
      display: flex;
      top: auto;
      left: auto;
      width: 80%;
      margin-right: -1em;
      }
    }
  
  .header .menu .links {
     flex: 1;
     
  }
  .header .menu .links li {
      position: relative; 
  }
  .header .menu .links li:not(:last-child) {
    border-bottom: 1px solid #ececec;
  }
  @media (max-width: 767px) {
    .header .menu .links li:not(:last-child) {
      border: none;
    }
    }
  .header .menu .links li::before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-background-color);
    z-index: -1;
    transition:var(--main-transition);
}
  .header .menu .links li:hover::before {
    width: 100%;
  }
  .header .menu .links li a {
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
  }
  @media (max-width: 991px) {
    .header .menu .links li a {
      font-size: 18px;
    }
     } 
   /* End header*/
 

   /* Start landing*/
   .landing {
     position: relative;
     padding-top: calc(var(--main-padding-top) + 50px);
     padding-bottom: var(--main-padding-bottom);
     margin-bottom: 50px;
     background-color: var(--main-background-color);
    }
   
   .landing .container {
    display: flex;
    justify-content: center;
    }
   .landing .image img {
    max-width: 100%;
    }
   /* Start landing*/
   /* Start articles*/
   .articles {
     padding-bottom: var(--main-padding-bottom);
     }
   .articles .container {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
     gap: 40px;
     }
   .articles .box {
    background-color: var(--main-background-color);
    border-radius: var(--main-border-radius);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    transition: transform var(--main-transition); 
   }
   .articles .box:hover {
    transform: translateY(-10px);
   }

   .articles .box img {
    max-width: 100%;
    margin-top: 30px;
   }
   .articles .box  h3 {
     color: var(--main-color);
     margin: 0;
     text-align: center;
     padding: 10px;
     font-family: 'Katibeh', corsivo;;
     font-size: 22px;
     opacity: 1;
    }
    .articles .box  h3:hover {
      opacity: var(--main-opacity);
    }
    /* end articles*/
    /* Start features*/
    .features {
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom:var(--main-padding-bottom) ;
    background-color: var(--main-background-color);
    }
 
  
  .features .container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   padding: 30px;
  }
  .features .image img {
     max-width: 100%;
    }
  @media (max-width: 992px) {
    .features .image img {
      display: none;
    }
  }
  @media (max-width: 992px) {
    .features .text {
      grid-area: 1/1/2/3;
      text-align: center;
  }
}
    .features .text h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: var(--main-color);
  }
  @media (max-width: 967px) {
    .features .text h1 {
      font-size: 28px;
  }
}
   .features .text p {
    color: var(--main-color);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    margin: 5px 0 0;
    line-height: 1.7;
    opacity: 1;
  }
  @media (max-width: 967px) {
    .features .text p {
      font-size: 20px;
  }
}
  .features .text p:hover {
    opacity: var(--main-opacity);
  }
   /* end features*/
   /* Start gallery*/
   .gallery {
    padding-bottom: var(--main-padding-bottom);
    }
   .gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 40px;
  }
   .gallery .box {
     padding: 15px;
     border: 10px solid #339999;
     border-radius: 5px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .gallery .box img {
   max-width: 100%;
   margin-top: 30px;
   
   }
  .gallery .box .content {
    text-align: center;
  }
  .gallery .box .content h3 {
    font-family:'Katibeh', corsivo;
    font-weight: 600;
    font-size: 20px;
    color: var(--main-color);
    margin: 0;
    padding: 10px;
   }
  /* end gallery*/
  /* Start section*/
  .section {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    }
  
  .section .container .box  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    }
  @media (max-width: 991px) {
    .section .container .box  {
      display: flex;
      flex-direction: column;
      }
    }
    
  .section .box .image {
     padding: 30px;
     border-radius: var(--main-border-radius);
     border: 10px solid #339999;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
     }
  .section .box img {
     max-width: 100%;
   }
  .section .box .content {
    padding: 30px;
   
  }
  .section .box .content h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: var(--main-color);
  }
  @media (max-width: 991px) {
    .section .box .content h2  {
      font-size: 24px;
      }
    }
  .section .box .content h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    color: var(--main-color);
  }
  @media (max-width: 991px) {
    .section .box .content h3  {
      font-size: 22px;
      }
    }
  .section .box .content ul {
    color: var(--main-color);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: var(--main-color);
    list-style:inside;
    line-height: 1.5;
    margin: 5px 0 0;
    }
    @media (max-width: 991px) {
      .section .box .content ul {
        font-size: 18px;
        }
      }
  .section .box .text {
    grid-area: 2/1/3/3;
    }
  .section .box .text h3 {
    color: var(--main-color);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    margin: 10px auto;
    color: var(--main-color);
  }
  @media (max-width: 991px) {
    .section .box .text h3 {
      font-size: 22px;
      }
    }
  .section .box .text p {
    color: var(--main-color);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: var(--main-color);
    line-height: 1.7;
    margin: 5px 0 0;
  }
  @media (max-width: 991px) {
    .section .box .text p {
      font-size: 18px;
      }
    }
  

/*end section*/
/* start Contact*/
.contact  {
  padding-top: var(--main-padding-top);
  padding-bottom: calc(var(--main-padding-bottom) + 30px);
}
.contact .content {
  display: flex;
  justify-content: center;
}
.contact .content form {
  flex-basis: 70%;
}
.contact .content form .main-input {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  padding: 20px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
}
.contact .content form .main-input:focus {
  outline: none;
}
.contact .content form textarea .main-input {
  height: 200px;
}
.contact .content form input[type="submit"] {
  background-color: #62696c;
  border: 1px solid #62696c;
  color: white;
  padding: 15px;
  border: none;
  display: flex;
  margin-left: auto;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
 
}
/* start footer*/
   .footer {
    background-color: var(--main-background-color);
    color: var(--main-color);
    text-align: center;
  }
  .footer .container {
    display: flex;
    position: relative;
    justify-content: center;
    
  }
  .footer .box {
    padding: 30px;
  }
  .footer .box  h3 {
    font-family: 'Katibeh', corsivo;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 1em;
  }
  @media (max-width: 767px) {
    .footer .box  h3 {
      font-size: 24px;
    }
  }
  .footer .box  p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0.5em;
  }
  @media (max-width: 767px) {
    .footer .box  p {
      font-size: 15px;
    }
  }
   
  .footer .main-nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .footer .main-nav > li > a {
    color: var(--main-color);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;;
    padding: 5px; 
  }
  @media (max-width: 992px) {
    .footer .main-nav > li > a {
      font-size: 15px;
  }
}
  
  .footer .copyright {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    background-color: var(--main-color);
    color: var(--main-background-color);
    padding: 10px;
  }
  

   /* end end footer */
  
  